$backGroundImage: url(../img/header_background_v1.jpg);
$mainFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$articleBackground: #EFEFEF;
$borderColor: #607d8b;
$postHeader: #1697A6;
$postDescriptionColor: #ea0000;
$buttonColor: #01ACAC;
$headerColor: #FFFFFF;
$menuColor: #1ec2ce;
$backGroundColor: #FFFFFF;
$h3Color: #000000;
$mainColor: #000000;