$backGroundImage: url(../img/header_background_v2.jpg);
$mainFont:normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$articleBackground: #FFFFFF;
$borderColor: #d0d9dd;
$postHeader: #607d8b;
$postDescriptionColor: #bebebe;
$buttonColor: #0000ad;
$headerColor: #ff561c;
$menuColor: #0202cc;
$backGroundColor: #EFEFEF;
$h3Color: #607d8b;
$mainColor: #757575;
